<footer class="bg-grey-6 lg-pb110">

    <div class="container pr0 pl0 pt55 row justify-content-between dn lg-df">
        <div class="col-4 mxw-250 md-nopad">
            <h4 class="fs18 fw-600 pb16 db c-white">Навигация по сайту</h4>
            <nav class="pb90">
                <ul class="df fld-c gap-12">
                    <li><a href="/index.html" class="fs16 fw-400 c-white">Главная</a></li>
                    <li><a href="/categories.html" class="fs16 fw-400 c-white">Категории</a></li>
                    <li><a href="/top.html" class="fs16 fw-400 c-white">Топы</a></li>
                </ul>
            </nav>

            <div>
                <h3 class="db fs20 fw-600 pb4 c-white">Анастасия Шенкарюк</h3>
                <span class="db fs16 fw-400 pb12 c-white">Автор, веб-дизайнер, модель</span>
                <div class="df gap-40">
                    <a href=""><img src="/assets/images/footer/instagram.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/dribble.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/telegram.svg" alt=""></a>
                </div>
            </div>
        </div>

        <div class="col-4 mxw-350 md-nopad">
            <h4 class="fs18 fw-600 pb16 db c-white">Политика конфиденциальности</h4>
            <nav class="pb90">
                <ul class="df fld-c gap-12">
                    <li><a href="" class="fs16 fw-400 c-white">Политика обработки персональных данных</a></li>
                    <li><a href="" class="fs16 fw-400 c-white">Публичная оферта</a></li>
                    <li><a href="" class="fs16 fw-400 c-white">Соглашением об использование cookies</a></li>
                </ul>
            </nav>

            <div>
                <h3 class="db fs20 fw-600 pb4 c-white">Евгений Недодаев</h3>
                <span class="db fs16 fw-400 pb12 c-white">Автор, веб-разработчик, модель</span>
                <div class="df gap-40">
                    <a href=""><img src="/assets/images/footer/telegram.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/whatsapp.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/vk.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-4 mxw-250 md-nopad">
            <img src="/assets/images/logo.svg" alt="" class="pb16">
            <h4 class="fs18 fw-600 pb16 db c-white">Связаться с нами</h4>
            <a href="mailto:yuksjdgenr@mail.ru" class="df justify-content-start pb16 gap-18">
                <img src="/assets/images/footer/mail.svg" alt="">
                <span class="fs18 fw-600 c-white">yuksjdgenr@mail.ru</span>
            </a>
            <a href="tel:+7(958)587-85-98" class="df justify-content-start pb30 gap-18">
                <img src="/assets/images/footer/phone.svg" alt="">
                <span class="fs18 fw-600 c-white">+7 (958) 587-85-98</span>
            </a>
            
            <div class="df gap-56 pb40">
                <a href=""><img src="/assets/images/footer/telegram.svg" alt=""></a>
                <a href=""><img src="/assets/images/footer/whatsapp.svg" alt=""></a>
                <a href=""><img src="/assets/images/footer/vk.svg" alt=""></a>
            </div>

            <a href="" class="fs16 lh-19 pt12 pr40 pb12 pl40 br-15 bg-blue-6 br-c-blue hc-blue-6 hbg-white focus-bg-blue-6 focus-c-white-2 focus-box-shadow-blue transition-color transition-bg br-c-blue b-2 br-c-blue c-white-2 fw-600">Написать</a>
        </div>

    </div>

    <div class="container db lg-dn pl20 pr20 pt32 sm-pt40 pb40 sm-pl32 sm-pr32">
        <div class="accordion pb24">
            <div class="row no-gutters align-items-center justify-content-between w-100">
                <div class="row align-items-center gap-4 sm-gap-24 no-gutters">
                    <h3 class="sm-fs18 fs16 fw-600 c-white">Политика конфиденциальности</h3>
                </div>
                <button class="accordionButton db b-0 bg-grey-6"><img class="transition-transform" src="/assets/images/footer/white-arrow.svg" alt=""></button>
            </div>
            <ul class="accordionInner pt12 sm-pt24 dn mxh-0 transition-mxh">
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="">Политика обработки персональных данных</a></li>
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="">Публичная оферта</a></li>
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="">Соглашением об использование cookies</a></li>
            </ul>                              
        </div>
        <div class="accordion pb24">
            <div class="row no-gutters align-items-center justify-content-between w-100">
                <div class="row align-items-center gap-4 sm-gap-24 no-gutters">
                    <h3 class="sm-fs18 fs16 fw-600 c-white">Навигация по сайту</h3>
                </div>
                <button class="accordionButton db b-0 bg-grey-6"><img class="transition-transform" src="/assets/images/footer/white-arrow.svg" alt=""></button>
            </div>
            <ul class="accordionInner pt12 sm-pt24 dn mxh-0 transition-mxh">
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="/index.html">Главная</a></li>
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="/categories.html">Категории</a></li>
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="/top.html">Топы</a></li>
            </ul>                              
        </div>
        <div class="accordion pb24">
            <div class="row no-gutters align-items-center justify-content-between w-100">
                <div class="row align-items-center gap-4 sm-gap-24 no-gutters">
                    <h3 class="sm-fs18 fs16 fw-600 c-white">Связаться с нами</h3>
                </div>
                <button class="accordionButton db b-0 bg-grey-6"><img class="transition-transform" src="/assets/images/footer/white-arrow.svg" alt=""></button>
            </div>
            <ul class="accordionInner pt12 sm-pt24 dn mxh-0 transition-mxh">
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="mailto:yuksjdgenr@mail.ru">yuksjdgenr@mail.ru</a></li>
                <li class="pb10 db"><a class="fs14 sm-fs16 fw-400 c-white" href="tel:+7(958)587-85-98">+7 (958) 587-85-98</a></li>
            </ul>                              
        </div>

        <div class="df justify-content-between align-items-center sm-fld-r fld-c pt48 sm-gap-0 gap-40">

            <img src="/assets/images/logo.svg" alt="" class="db sm-order-1 order-3">

            <div class="sm-order-2 order-1">
                <h3 class="db fs20 fw-600 pb12 sm-pb4 c-white sm-tal tac">Евгений Недодаев</h3>
                <span class="db fs16 fw-400 pb20 sm-pb12 c-white sm-tal tac">Автор, веб-разработчик, модель</span>
                <div class="df gap-40 justify-content-center">
                    <a href=""><img src="/assets/images/footer/telegram.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/whatsapp.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/vk.svg" alt=""></a>
                </div>
            </div>

            <div class="sm-order-3 order-2">
                <h3 class="db fs20 fw-600 pb12 sm-pb4 c-white sm-tal tac">Анастасия Шенкарюк</h3>
                <span class="db fs16 fw-400 pb20 sm-pb12 c-white sm-tal tac">Автор, веб-дизайнер, модель</span>
                <div class="df gap-40 justify-content-center">
                    <a href=""><img src="/assets/images/footer/instagram.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/dribble.svg" alt=""></a>
                    <a href=""><img src="/assets/images/footer/telegram.svg" alt=""></a>
                </div>
            </div>

        </div>
    </div>

</footer>