<header class="col-12 bg-white p0 pf zi10">
    <div class="row container sm-pl32 sm-pr44 lg-pr0 lg-pl0 justify-content-between pt10 sm-pt20 lg-pt40 pb10 sm-pb20 lg-pb40 align-items-center">
        <img class="mxw-100 lg-mxw-n" src="/assets/images/logo.svg" alt="">
        <nav class="header__nav sm-ps sm-db dn pa">
            <ul class="header__nav__ul row gap-90">
                <li><a href="/index.html" class="fs-18 lh22 fw-400">Главная</a></li>
                <li><a href="/categories.html" class="fs-18 lh22 fw-400">Категории</a></li>
                <li><a href="/top.html" class="fs-18 lh22 fw-600">Топы</a></li>
            </ul>
        </nav>
        <div class="df gap-32 align-items-center">
            <a href="/services.html" class="header__button dn sm-db fs16 lh-19 pt12 lg-pr40 pr32 pb12 lg-pl40 pl32 br-15 bg-blue-6 br-c-blue hc-blue-6 hbg-white focus-bg-blue-6 focus-c-white-2 focus-box-shadow-blue transition-color transition-bg br-c-blue b-2 c-white-2 fw-600">Добавить сервис</a>
            <div class="df h-20 justify-content-center align-items-center sm-dn db" id="headerBurger"><button class="burger pr b-0"></button></div>
        </div>
    </div>
</header>